html {
  justify-content: center;
  align-content: center;
  font-family: "Noto Sans", sans-serif;
}
.Header {
  display: flex;
  justify-content: space-around;
}
.Titulado {
    font-size: 30px;
  font-weight: 900;
  margin-right: 5%;
  font-family: "Times New Roman", Times, serif;

}
.Columna2{
    display: block;
    margin: 0;
    padding: 0;
}
.Subtitulado{
   font-size:20px; 
}
.ContenedorColumnas{
    display: grid;
    justify-content: center;
    max-width: 100%;
    width: 1000px;
    height: auto;
    grid-template-columns: repeat(auto-fill,230px);
    grid-gap: 100px;
    margin: 60px auto;
}
.text{
    font-weight: 500;
    font-size: 15px;

}
.Persona-Empleo {
  display: flex;
}
.Persona-Empleo img {
  max-width: 300px;
  max-height: 300px;
}
.Empleo {
  align-self: center;
  position: absolute;
  transform: rotate(90deg);
  left: 17%;
}
.Nombre {
  display: block;
}
.ContenedorEmpleo {
  position: relative;
  justify-items: center;
  align-items: center;
  margin: 0;
  width: 1%;
}

.Contenedor2{
    margin-top: 120px;
   
}